# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
.coverage
.tox
.noseids
.pytest_cache/
.cache

# mypy
.mypy_cache/

# PyInstaller
#  Usually these files are written by a python script from a template; see
#  https://github.com/pyinstaller/pyinstaller/wiki/Recipe-UUID
*.manifest
*.spec

# VS Code
.vscode/

# PyCharm
.idea/

# Editor directories and files
*.sublime-workspace
*.sublime-project
*.swp
*~

# Jupyter Notebook
.ipynb_checkpoints

# local config files
*.cfg
*.ini